    .NumeroUno {
      background-color: purple;
      height: 200px;
      width: 200px;
      border-width: 5px;
    }
    .NumeroDos {
      background-color: red;
      height: 200px;
      width: 200px;
      margin-left: 210px;
      border-width: 10px;
    }
    .NumeroTres {
      background-color: blue;
      height: 200px;
      width: 200px;
      margin-left: 430px;
      border-width: 15px;
    }
    div {
      border: solid;
    }
    body {
      margin: 0;
    }
